[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"pipenv-setup" = "*"
"pytest" = "*"
"mypy" = "*"
"numpy" = "1.19.4"
"fake-bpy-module-2.91" = "*"
"fake-bge-module-0.2.5" = "*"

[packages]
"alleycat-reactive" = "0.4.7"
"rx" = "3.1.1"
"returns" = "0.15.0"
"pangocairocffi" = "0.5.0"

[requires]
python_version = "3.9"
