[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"pipenv-setup" = "*"
"pytest" = "*"
"numpy" = "1.19.4"
"fake-bpy-module-2.90" = "*"
"fake-bge-module-0.2.5" = "*"

[packages]
"mypy" = "0.790"
"alleycat-reactive" = "0.4.4"
"rx" = "3.1.1"
"returns" = "0.15.0"
"pangocairocffi" = "0.5.0"

[requires]
python_version = "3.9"
